out/
*.tmp
*.env
*.log
build/
*.db-wal
scratch/
*.db-shm
scratch/
.DS_Store
*.py[cod]
convo.txt
Thumbs.db
*$py.class
.gitnexus/
Garuda.txt
desktop.ini
*.db-journal
*logcat*.txt
__pycache__/
gold_images_OS3.0.10.0.VNQCNXM_15.0/
aqua-*.md
aqua-kernel-final-runbook.md

